
.button{
    background-color: rgb(57, 162, 203);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-size: 2em;
    color: white;
    text-decoration: none;
    border-bottom: 5px solid #2980B9;
}

.button:active{
    border-bottom: 1px solid;
}

.button:hover{
    color: black;
    background-color:rgb(108, 189, 221) ;
}
